<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Приглашение</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="card">

        <h1>💌 Приглашение</h1>

        <h2>Привет!</h2>

        <p>
            Я хочу пригласить тебя на встречу.
        </p>

        <hr>

        <button>💖 Я приду</button>

        <div id="invite">

            <h3>📅 Дата</h3>
            <p>20 июля 2026</p>

            <h3>🕖 Время</h3>
            <p>19:00</p>

            <h3>📍 Место</h3>
            <p>Кофейня</p>

        </div>

    </div>

    <script src="/static/script.js"></script>

</body>

</html>